span.flag {
  width: 44px;
  height: 30px;
  display: inline-block;
}

img.flag {
  width: 30px;
}

.flag {
  background: url("https://primefaces.org/cdn/primevue/images/flag/flags_responsive.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}

.flag-ad {
  background-position: 0 %;
}

.flag-ae {
  background-position: 0 %;
}

.flag-af {
  background-position: 0 %;
}

.flag-ag {
  background-position: 0 %;
}

.flag-ai {
  background-position: 0 %;
}

.flag-al {
  background-position: 0 %;
}

.flag-am {
  background-position: 0 %;
}

.flag-an {
  background-position: 0 %;
}

.flag-ao {
  background-position: 0 %;
}

.flag-aq {
  background-position: 0 %;
}

.flag-ar {
  background-position: 0 %;
}

.flag-as {
  background-position: 0 %;
}

.flag-at {
  background-position: 0 %;
}

.flag-au {
  background-position: 0 %;
}

.flag-aw {
  background-position: 0 %;
}

.flag-az {
  background-position: 0 %;
}

.flag-ba {
  background-position: 0 %;
}

.flag-bb {
  background-position: 0 %;
}

.flag-bd {
  background-position: 0 %;
}

.flag-be {
  background-position: 0 %;
}

.flag-bf {
  background-position: 0 %;
}

.flag-bg {
  background-position: 0 %;
}

.flag-bh {
  background-position: 0 %;
}

.flag-bi {
  background-position: 0 %;
}

.flag-bj {
  background-position: 0 %;
}

.flag-bm {
  background-position: 0 %;
}

.flag-bn {
  background-position: 0 %;
}

.flag-bo {
  background-position: 0 %;
}

.flag-br {
  background-position: 0 %;
}

.flag-bs {
  background-position: 0 %;
}

.flag-bt {
  background-position: 0 %;
}

.flag-bv {
  background-position: 0 %;
}

.flag-bw {
  background-position: 0 %;
}

.flag-by {
  background-position: 0 %;
}

.flag-bz {
  background-position: 0 %;
}

.flag-ca {
  background-position: 0 %;
}

.flag-cc {
  background-position: 0 %;
}

.flag-cd {
  background-position: 0 %;
}

.flag-cf {
  background-position: 0 %;
}

.flag-cg {
  background-position: 0 %;
}

.flag-ch {
  background-position: 0 %;
}

.flag-ci {
  background-position: 0 %;
}

.flag-ck {
  background-position: 0 %;
}

.flag-cl {
  background-position: 0 %;
}

.flag-cm {
  background-position: 0 %;
}

.flag-cn {
  background-position: 0 %;
}

.flag-co {
  background-position: 0 %;
}

.flag-cr {
  background-position: 0 %;
}

.flag-cu {
  background-position: 0 %;
}

.flag-cv {
  background-position: 0 %;
}

.flag-cx {
  background-position: 0 %;
}

.flag-cy {
  background-position: 0 %;
}

.flag-cz {
  background-position: 0 %;
}

.flag-de {
  background-position: 0 %;
}

.flag-dj {
  background-position: 0 %;
}

.flag-dk {
  background-position: 0 %;
}

.flag-dm {
  background-position: 0 %;
}

.flag-do {
  background-position: 0 %;
}

.flag-dz {
  background-position: 0 %;
}

.flag-ec {
  background-position: 0 %;
}

.flag-ee {
  background-position: 0 %;
}

.flag-eg {
  background-position: 0 %;
}

.flag-eh {
  background-position: 0 %;
}

.flag-er {
  background-position: 0 %;
}

.flag-es {
  background-position: 0 %;
}

.flag-et {
  background-position: 0 %;
}

.flag-fi {
  background-position: 0 %;
}

.flag-fj {
  background-position: 0 %;
}

.flag-fk {
  background-position: 0 %;
}

.flag-fm {
  background-position: 0 %;
}

.flag-fo {
  background-position: 0 %;
}

.flag-fr {
  background-position: 0 %;
}

.flag-ga {
  background-position: 0 %;
}

.flag-gd {
  background-position: 0 %;
}

.flag-ge {
  background-position: 0 %;
}

.flag-gf {
  background-position: 0 %;
}

.flag-gh {
  background-position: 0 %;
}

.flag-gi {
  background-position: 0 %;
}

.flag-gl {
  background-position: 0 %;
}

.flag-gm {
  background-position: 0 %;
}

.flag-gn {
  background-position: 0 %;
}

.flag-gp {
  background-position: 0 %;
}

.flag-gq {
  background-position: 0 %;
}

.flag-gr {
  background-position: 0 %;
}

.flag-gs {
  background-position: 0 %;
}

.flag-gt {
  background-position: 0 %;
}

.flag-gu {
  background-position: 0 %;
}

.flag-gw {
  background-position: 0 %;
}

.flag-gy {
  background-position: 0 %;
}

.flag-hk {
  background-position: 0 %;
}

.flag-hm {
  background-position: 0 %;
}

.flag-hn {
  background-position: 0 %;
}

.flag-hr {
  background-position: 0 %;
}

.flag-ht {
  background-position: 0 %;
}

.flag-hu {
  background-position: 0 %;
}

.flag-id {
  background-position: 0 %;
}

.flag-ie {
  background-position: 0 %;
}

.flag-il {
  background-position: 0 %;
}

.flag-in {
  background-position: 0 %;
}

.flag-io {
  background-position: 0 %;
}

.flag-iq {
  background-position: 0 %;
}

.flag-ir {
  background-position: 0 %;
}

.flag-is {
  background-position: 0 %;
}

.flag-it {
  background-position: 0 %;
}

.flag-jm {
  background-position: 0 %;
}

.flag-jo {
  background-position: 0 %;
}

.flag-jp {
  background-position: 0 %;
}

.flag-ke {
  background-position: 0 %;
}

.flag-kg {
  background-position: 0 %;
}

.flag-kh {
  background-position: 0 %;
}

.flag-ki {
  background-position: 0 %;
}

.flag-km {
  background-position: 0 %;
}

.flag-kn {
  background-position: 0 %;
}

.flag-kp {
  background-position: 0 %;
}

.flag-kr {
  background-position: 0 %;
}

.flag-kw {
  background-position: 0 %;
}

.flag-ky {
  background-position: 0 %;
}

.flag-kz {
  background-position: 0 %;
}

.flag-la {
  background-position: 0 %;
}

.flag-lb {
  background-position: 0 %;
}

.flag-lc {
  background-position: 0 50%;
}

.flag-li {
  background-position: 0 %;
}

.flag-lk {
  background-position: 0 %;
}

.flag-lr {
  background-position: 0 %;
}

.flag-ls {
  background-position: 0 %;
}

.flag-lt {
  background-position: 0 %;
}

.flag-lu {
  background-position: 0 %;
}

.flag-lv {
  background-position: 0 %;
}

.flag-ly {
  background-position: 0 %;
}

.flag-ma {
  background-position: 0 %;
}

.flag-mc {
  background-position: 0 %;
}

.flag-md {
  background-position: 0 %;
}

.flag-me {
  background-position: 0 %;
}

.flag-mg {
  background-position: 0 %;
}

.flag-mh {
  background-position: 0 %;
}

.flag-mk {
  background-position: 0 %;
}

.flag-ml {
  background-position: 0 %;
}

.flag-mm {
  background-position: 0 %;
}

.flag-mn {
  background-position: 0 %;
}

.flag-mo {
  background-position: 0 %;
}

.flag-mp {
  background-position: 0 %;
}

.flag-mq {
  background-position: 0 %;
}

.flag-mr {
  background-position: 0 %;
}

.flag-ms {
  background-position: 0 %;
}

.flag-mt {
  background-position: 0 %;
}

.flag-mu {
  background-position: 0 %;
}

.flag-mv {
  background-position: 0 %;
}

.flag-mw {
  background-position: 0 %;
}

.flag-mx {
  background-position: 0 %;
}

.flag-my {
  background-position: 0 %;
}

.flag-mz {
  background-position: 0 %;
}

.flag-na {
  background-position: 0 %;
}

.flag-nc {
  background-position: 0 %;
}

.flag-ne {
  background-position: 0 %;
}

.flag-nf {
  background-position: 0 %;
}

.flag-ng {
  background-position: 0 %;
}

.flag-ni {
  background-position: 0 %;
}

.flag-nl {
  background-position: 0 %;
}

.flag-no {
  background-position: 0 %;
}

.flag-np {
  background-position: 0 %;
}

.flag-nr {
  background-position: 0 %;
}

.flag-nu {
  background-position: 0 %;
}

.flag-nz {
  background-position: 0 %;
}

.flag-om {
  background-position: 0 %;
}

.flag-pa {
  background-position: 0 %;
}

.flag-pe {
  background-position: 0 %;
}

.flag-pf {
  background-position: 0 %;
}

.flag-pg {
  background-position: 0 %;
}

.flag-ph {
  background-position: 0 %;
}

.flag-pk {
  background-position: 0 %;
}

.flag-pl {
  background-position: 0 %;
}

.flag-pm {
  background-position: 0 %;
}

.flag-pn {
  background-position: 0 %;
}

.flag-pr {
  background-position: 0 %;
}

.flag-pt {
  background-position: 0 %;
}

.flag-pw {
  background-position: 0 %;
}

.flag-py {
  background-position: 0 %;
}

.flag-qa {
  background-position: 0 %;
}

.flag-re {
  background-position: 0 %;
}

.flag-ro {
  background-position: 0 %;
}

.flag-rs {
  background-position: 0 %;
}

.flag-ru {
  background-position: 0 %;
}

.flag-rw {
  background-position: 0 %;
}

.flag-sa {
  background-position: 0 %;
}

.flag-sb {
  background-position: 0 %;
}

.flag-sc {
  background-position: 0 %;
}

.flag-sd {
  background-position: 0 %;
}

.flag-se {
  background-position: 0 %;
}

.flag-sg {
  background-position: 0 %;
}

.flag-sh {
  background-position: 0 %;
}

.flag-si {
  background-position: 0 %;
}

.flag-sj {
  background-position: 0 %;
}

.flag-sk {
  background-position: 0 %;
}

.flag-sl {
  background-position: 0 %;
}

.flag-sm {
  background-position: 0 %;
}

.flag-sn {
  background-position: 0 %;
}

.flag-so {
  background-position: 0 %;
}

.flag-sr {
  background-position: 0 %;
}

.flag-ss {
  background-position: 0 %;
}

.flag-st {
  background-position: 0 %;
}

.flag-sv {
  background-position: 0 %;
}

.flag-sy {
  background-position: 0 %;
}

.flag-sz {
  background-position: 0 %;
}

.flag-tc {
  background-position: 0 %;
}

.flag-td {
  background-position: 0 %;
}

.flag-tf {
  background-position: 0 %;
}

.flag-tg {
  background-position: 0 %;
}

.flag-th {
  background-position: 0 %;
}

.flag-tj {
  background-position: 0 %;
}

.flag-tk {
  background-position: 0 %;
}

.flag-tl {
  background-position: 0 %;
}

.flag-tm {
  background-position: 0 %;
}

.flag-tn {
  background-position: 0 %;
}

.flag-to {
  background-position: 0 %;
}

.flag-tp {
  background-position: 0 %;
}

.flag-tr {
  background-position: 0 %;
}

.flag-tt {
  background-position: 0 %;
}

.flag-tv {
  background-position: 0 %;
}

.flag-tw {
  background-position: 0 %;
}

.flag-ty {
  background-position: 0 %;
}

.flag-tz {
  background-position: 0 %;
}

.flag-ua {
  background-position: 0 %;
}

.flag-ug {
  background-position: 0 %;
}

.flag-gb,
.flag-uk {
  background-position: 0 %;
}

.flag-um {
  background-position: 0 %;
}

.flag-us {
  background-position: 0 %;
}

.flag-uy {
  background-position: 0 %;
}

.flag-uz {
  background-position: 0 %;
}

.flag-va {
  background-position: 0 %;
}

.flag-vc {
  background-position: 0 %;
}

.flag-ve {
  background-position: 0 %;
}

.flag-vg {
  background-position: 0 %;
}

.flag-vi {
  background-position: 0 %;
}

.flag-vn {
  background-position: 0 %;
}

.flag-vu {
  background-position: 0 %;
}

.flag-wf {
  background-position: 0 %;
}

.flag-ws {
  background-position: 0 %;
}

.flag-ye {
  background-position: 0 %;
}

.flag-za {
  background-position: 0 %;
}

.flag-zm {
  background-position: 0 %;
}

.flag-zr {
  background-position: 0 %;
}

.flag-zw {
  background-position: 0 100%;
}
